In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loading dataset
df = pd.read_csv("Mall_Customers.csv")

In [3]:
# 1. View initial info
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB
None
   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
# 2. Handle missing values
df = df.dropna()  # or use df.fillna(method='ffill') if imputation needed

In [5]:
# 3. Remove duplicates
df = df.drop_duplicates()

In [6]:
# 4. Standardize text fields
df['Gender'] = df['Gender'].str.lower().str.strip()

In [7]:
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]

In [10]:
print("\nColumn names after standardization:", df.columns) #added for debugging
df['age'] = df['age'].astype(int)
df['annual_income_(k$)'] = df['annual_income_(k$)'].astype(float)
df['spending_score_(1-100)'] = df['spending_score_(1-100)'].astype(float)

Column names after standardization: Index(['customerid', 'gender', 'age', 'annual_income_(k$)',
       'spending_score_(1-100)'],
      dtype='object')

In [11]:
df.to_csv("Mall_Customers_Cleaned.csv", index=False)